root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[{*.neon,*.xlf,*.sql,_.htaccess,.htaccess}]
indent_style = tab

[{package-lock.json,composer.lock}]
indent_size = unset
indent_style = unset
max_line_length = unset
