#
# Ignore temporary files (left by editors and OS)
*~
*.bak
*.swp
.DS_Store
#
# Ignore by common IDEs used directories/files
nbproject
*.idea
*.project
*.vscode
.buildpath
.settings
.TemporaryItems
.webprj
.fleet
#
# Temporary files and folders
/.cache
.php_cs.cache
.php-cs-fixer.cache
.sass-cache
.session
*.log
#
# Ignore build stuff
/.ddev/*
#
# Ignore composer stuff
/bin/*
/vendor/*
/public/*
#
# Ignore ddev for typo3 extension stuff
/v12/*
