<!DOCTYPE html>
<html lang="de" class="html">
{{> ../01-atoms/head }}
<body>
{{> ../03-organisms/navigation }}
{{> ../03-organisms/hero-slider }}
{{> ../01-atoms/shout-out headline='Entdecke die Vorteile des Lehrerberufs' }}
{{> ../03-organisms/benefits }}
{{> ../01-atoms/shout-out headline='Erfahre welcher Fachbereich zu dir passt' }}
{{> ../03-organisms/quiz }}
{{> ../03-organisms/profile-slider }}
{{> ../01-atoms/shout-out headline='Warum du wirklich Leherer werden solltest?' }}
{{> ../03-organisms/pro-con-list }}
{{> ../01-atoms/shout-out headline='Immernoch nicht überzeugt?' }}
{{> ../03-organisms/video }}
{{> ../01-atoms/shout-out headline='Finde heraus welche Schule deine Nächste ist' }}
{{> ../03-organisms/uni-finder }}
{{> ../01-atoms/shout-out headline='Doch noch überzeugt?' }}
{{> ../03-organisms/cta-button }}
{{> ../03-organisms/footer }}
</body>
</html>
