<section id="benefits" class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="Images/teacher.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Flexible Arbeitszeiten</h5>
                        <p class="card-text">Als Lehrer haben Sie die Möglichkeit, Ihre Arbeitszeiten zu gestalten und haben regelmäßig Ferien.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="Images/teacher.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sinnstiftender Beruf</h5>
                        <p class="card-text">Als Lehrer haben Sie die Möglichkeit, jungen Menschen zu helfen, sich weiterzuentwickeln und ihre Potentiale zu entfalten.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="Images/teacher.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Stabiler Arbeitsplatz</h5>
                        <p class="card-text">Der Lehrerberuf gilt als krisensicher und bietet langfristige Perspektiven im öffentlichen Dienst.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
