<footer class="text-center text-lg-start">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-dark"><i class="fas fa-book me-2 mb-3"></i>AGB</a></li>
                            <li><a href="#" class="text-dark"><i class="fas fa-gavel me-2 mb-3"></i>Impressum</a></li>
                            <li><a href="#" class="text-dark"><i class="fas fa-balance-scale me-2 mb-3"></i>Datenschutz</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-dark"><i class="fab fa-facebook me-2 mb-3"></i>Facebook</a></li>
                            <li><a href="#" class="text-dark"><i class="fab fa-twitter me-2 mb-3"></i>Twitter</a></li>
                            <li><a href="#" class="text-dark"><i class="fab fa-instagram me-2 mb-3"></i>Instagram</a></li>
                            <li><a href="#" class="text-dark"><i class="fab fa-youtube me-2 mb-3"></i>YouTube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="bg-dark mb-4">
        <div class="text-center">
            <p class="mb-2">© 2023 Meine Webseite. Alle Rechte vorbehalten.</p>
            <p class="mb-2">Icons von <a class="text-dark" href="https://fontawesome.com/">Font Awesome</a></p>
        </div>
    </div>
</footer>
