<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <img src="Images/teacher.jpg" class="card-img-top" alt="Vorteil Lehrerberuf">
                <div class="card-body">
                    <h5 class="card-title">Gute Work-Life-Balance</h5>
                    <p class="card-text">Lehrer haben oft die Möglichkeit, ihre Arbeitszeit flexibel zu gestalten und haben viele Ferien.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <img src="Images/teacher.jpg" class="card-img-top" alt="Vorteil Lehrerberuf">
                <div class="card-body">
                    <h5 class="card-title">Gestaltungsspielraum im Unterricht</h5>
                    <p class="card-text">Lehrer können den Unterricht nach ihren eigenen Vorstellungen gestalten und haben die Möglichkeit, kreativ zu sein.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <img src="Images/teacher.jpg" class="card-img-top" alt="Vorteil Lehrerberuf">
                <div class="card-body">
                    <h5 class="card-title">Kontakt zu jungen Menschen</h5>
                    <p class="card-text">Lehrer haben die Möglichkeit, das Leben junger Menschen zu beeinflussen und zu prägen.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <img src="Images/teacher.jpg" class="card-img-top" alt="Vorteil Lehrerberuf">
                <div class="card-body">
                    <h5 class="card-title">Sinnvolle und erfüllende Arbeit</h5>
                    <p class="card-text">Lehrer tragen zur Bildung und Entwicklung von jungen Menschen bei und können dadurch einen positiven Einfluss auf die Gesellschaft haben.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <img src="Images/teacher.jpg" class="card-img-top" alt="Vorteil Lehrerberuf">
                <div class="card-body">
                    <h5 class="card-title">Ständige Weiterbildung</h5>
                    <p class="card-text">Lehrer haben oft die Möglichkeit, sich regelmäßig weiterzubilden und sich auf dem neuesten Stand zu halten.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <img src="Images/teacher.jpg" class="card-img-top" alt="Vorteil Lehrerberuf">
                <div class="card-body">
                    <h5 class="card-title">Kontinuierliche persönliche Weiterentwicklung</h5>
                    <p class="card-text"> Als Lehrer hast du immer die Möglichkeit, dich weiterzubilden und deine Kenntnisse und Fähigkeiten zu verbessern.</p>
                </div>
            </div>
        </div>
    </div>
</div>