<section id="slider" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#slider" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#slider" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#slider" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="Images/teacher.jpg" class="d-block w-100" alt="Lehrer 1">
            <div class="carousel-caption">
                <h5>Mathematik</h5>
                <p>Die Mathematik ist eine Wissenschaft, die sich mit der Analyse, Strukturierung und Anwendung von Zahlen, Formen und Beziehungen beschäftigt. Sie ist von grundlegender Bedeutung in vielen wissenschaftlichen Disziplinen und spielt eine wichtige Rolle in der Technologie und der Industrie.</p>
                <a href="#" class="btn btn-primary">Mehr erfahren</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="Images/teacher.jpg" class="d-block w-100" alt="Lehrer 2">
            <div class="carousel-caption">
                <h5>Informatik</h5>
                <p>Die Informatik ist die Wissenschaft der Verarbeitung von Informationen. Sie umfasst die Entwicklung von Computer-Systemen und Software, die Verarbeitung von Daten, die Informationsübertragung und -speicherung sowie die Entwicklung von Algorithmen und künstlicher Intelligenz.</p>
                <a href="#" class="btn btn-primary">Mehr erfahren</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="Images/teacher.jpg" class="d-block w-100" alt="Lehrer 3">
            <div class="carousel-caption">
                <h5>Physik</h5>
                <p>Die Physik ist die Wissenschaft von der Natur und ihren grundlegenden Gesetzen. Sie untersucht die fundamentalen Phänomene wie Energie, Materie und Kräfte und nutzt mathematische Methoden, um diese zu beschreiben und zu erklären. Die Physik hat Anwendungen in vielen Bereichen wie Technik, Medizin und Astronomie.</p>
                <a href="#" class="btn btn-primary">Mehr erfahren</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="Images/teacher.jpg" class="d-block w-100" alt="Lehrer 4">
            <div class="carousel-caption">
                <h5>Musik</h5>
                <p>Die Musik ist eine Kunstform, die durch Klänge und Rhythmen ausgedrückt wird. Sie kann Emotionen und Stimmungen ausdrücken und hat eine wichtige Rolle in der Kultur und der Gesellschaft. Die Musik umfasst viele verschiedene Stile und Genres, von klassischer Musik bis hin zu Pop und Rock.</p>
                <a href="#" class="btn btn-primary">Mehr erfahren</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="Images/teacher.jpg" class="d-block w-100" alt="Lehrer 5">
            <div class="carousel-caption">
                <h5>Kunst</h5>
                <p>Die Kunst umfasst eine breite Palette von kreativen Disziplinen wie Malerei, Skulptur, Fotografie, Grafikdesign und mehr. Sie ermöglicht es den Menschen, sich auszudrücken und ihre Ideen und Gefühle auf kreative Weise darzustellen.</p>
                <a href="#" class="btn btn-primary">Mehr erfahren</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="Images/teacher.jpg" class="d-block w-100" alt="Lehrer 6">
            <div class="carousel-caption">
                <h5>Religion</h5>
                <p>Die Religion ist eine wichtige Facette der menschlichen Kultur und beschäftigt sich mit dem Glauben und der spirituellen Praxis. Sie kann die moralischen und ethischen Überzeugungen von Menschen beeinflussen und hat einen großen Einfluss auf die Gesellschaft und die Politik.</p>
                <a href="#" class="btn btn-primary">Mehr erfahren</a>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>
