<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div id="map">
                <img src="https://www.architekturzeitung.com/images/2021/2106/google-maps-screenshots-nutzen-architektur.jpg" alt="">
            </div>
            <script>
                function initMap() {
                    // Hier den Code für die Google Maps API einfügen
                    // und die Karte initialisieren
                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap"></script>
            <form class="mt-4">
                <div class="form-group mb-3">
                    <label for="inputLocation" class="mb-2">Standort</label>
                    <input type="text" class="form-control" id="inputLocation" placeholder="Geben Sie Ihren Standort ein">
                </div>
                <div class="form-group mb-3">
                    <label for="inputDistance" class="mb-2">Entfernung</label>
                    <select class="form-select" id="inputDistance">
                        <option value="5">5 km</option>
                        <option value="10">10 km</option>
                        <option value="20">20 km</option>
                        <option value="50">50 km</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="inputProgram" class="mb-2">Lehrerausbildungsprogramm</label>
                    <select class="form-select" id="inputProgram">
                        <option value="Grundschule">Grundschule</option>
                        <option value="Sekundarschule">Sekundarschule</option>
                        <option value="Förderschule">Förderschule</option>
                        <option value="Berufsschule">Berufsschule</option>
                        <option value="Sonstige">Sonstige</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Suchen</button>
            </form>
        </div>
    </div>
</div>
